<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>黃鈺慈簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto; background: #00A0B6;}
		h1 {color:#C2C200; font-size:60px;}
		h2 {color:#EB9900; font-size:40px;}
	</style>
	<script>
		function change1() {
  			document.getElementById("pic").src = "https://www1.pu.edu.tw/~s1100393/CSP/411003934.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "https://www1.pu.edu.tw/~s1100393/CSP/24674.jpg";
  			document.getElementById("h2text").innerText = "Yu-Ci Huang";
		}
	</script>
</head>
<body>
	<table width="70%">
		<tr>
			<td>
				<img src="https://www1.pu.edu.tw/~s1100393/CSP/411003934.jpg" width="110%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			</td>

			<td>
				<h1>黃鈺慈</h1>
				<h2 id="h2text">Yu-Ci Huang</h2>
			</td>
		</tr>
	</table>
		<audio src="https://www1.pu.edu.tw/~s1100393/CSP/piano.mp3" autoplay loop>
		</audio><br>
	<table width="80%" style="table-layout:fixed" align="center" border="3">
		<tr>
			<td>
				學校:<a href="https://www.pu.edu.tw/"target="_blank">靜宜大學</a><br>
				系級:<a href="https://csim.pu.edu.tw/" target="_blank">資管系</a><br>
				FB:<a href="https://www.facebook.com/luvapink520/" target="_blank">黃鈺慈</a><br>
				IG:<a href="https://www.instagram.com/lllll_atsbmp/" target="_blank">lllll_atsbmp</a><br>
				E-Mail:<a href="https://mail.google.com/mail/u/1/#inbox" target="_blank">s1100393@gm.pu.edu.tw</a><br>
			</td>

			<td>
				<p>自傳<br>
&nbsp&nbsp&nbsp&nbsp我的名字叫做黃鈺慈，於2003/08/11在嘉義市出生、成長，現在在台中市的靜宜大學就讀中。<br>
&nbsp&nbsp&nbsp&nbsp在宏仁就讀是段難忘的時光。我在因緣際會之下，開始對資訊管理學類相關議題產生興趣，從而決定修讀資訊管理學系。學校生活多采多姿，除了課業之外，許多社團活動、旅行踏青的趣事，可以說都是非常珍貴的回憶。<br>
&nbsp&nbsp&nbsp&nbsp我沒有很多工作經驗，但我擁有許多夢想，我期待能夠運用在校所學，配合我的熱情衝勁，為公司創造無窮的可能。<br>
&nbsp&nbsp&nbsp&nbsp如今，我體會到，活著的每一天都是特別的日子，都是值得當下就要把握的日子。將希望寄託予「將來」、「總有一天」是不切實際的。如果有什麼值得全力以赴的機會，「現在」就要去實踐。素聞貴公司在業界口碑良好，所以，當我看到貴公司所提供的店員職缺時，便馬上毛遂自薦。我是等工作的熟手，條件十分吻合。請讓我有機會為貴公司服務，並展現自己。謝謝！<br>

				</p>
			</td>
		</tr>	
	</table>
	<table width="80%" style="table-layout:fixed" align="center" border="3">
	    <tr>
	        <th>
	        <th>一
	        <th>二
			<th>三
			<th>四
			<th>五
	    <tr>
	        <th>09.10~10.00
	        <td rowspan = "3">資料結構
			<td rowspan = "3">網路通訊概論
			<td rowspan = "3">網頁前端程式設計
			<td rowspan = "3">企業資源規劃
			<td rowspan = "3">程式語言
	    <tr>
	        <th>10.10~11.00
		<tr>
	        <th>11.10~12.00
		<tr>
	        <td colspan="6"><b> 12.10~13.00</b>
	    <tr>
	        <th>13.10~14.00
	        <td rowspan = "3">資訊管理理論
			<td>統計學(實習)
			<td rowspan = "2">環境教育與永續
			<td rowspan = "3">資料結構(實習)
			<td>
		<tr>
	        <th>14.10~15.00
			<td rowspan = "3">統計學
			<th>
		<tr>
	        <th>15.10~16.00
			<th>
			<th>
		<tr>
	        <th>16.10~17.00 
			<th>
			<th>
			<th>
			<th>
	    </table>  
</body>
</html>