<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MIS相關工作介紹</title>

  <style type="text/css">
    * { 
      font-family: "標楷體"; }

    header { 
      font-size: 36px;
      color: lightpink; }

    .col-lg-4 {
      border: 1px solid; }

  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script>
    $(document).ready(function(){
      $("#COMPANY").hover(function(){
        $("#PICTURE").attr("src","/static/images/perfect2.jpg");
      });

      $("#PICTURE").click(function(){
        $("#PICTURE").hide();
        $("#PICTURE").fadeIn("slow")
      });
    });
  </script>


</head>
<body>
  <nav class="navbar navbar-expand-md bg-white navbar-light">
  <a class="navbar-brand" href="#">選單</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#COMPANY">公司資訊</a></li>
      <li class="nav-item"><a class="nav-link" href="#worker">職務介紹</a></li>
      <li class="nav-item"><a class="nav-link" href="#need">工作條件需求</a></li>
    </ul>
  </div>
  </nav>

  <main class="container-fluid bg-info text-white text-center">

    <nav>
      <h1><a href="https://www.facebook.com/issdu.com.tw/" class="text-reset text-decoration-none text-white bg-danger" target="_blank" id="COMPANY">數聯資安股份有限公司 </a></h1>
    </nav>

    <img src="https://www1.pu.edu.tw/~s1100393/CSP/13.jpg" width="40%" id="pic" onmouseover="change1()" onmouseout="change2()"></img>
    <br><br><br>

    <div class="row">
      <session id="COMPANY" class="col-lg-4">
        <header><a class="text-reset text-decoration-none bg-white">公司資訊</header>
        <h3>公司名：數聯資安股份有限公司<br>
        地址：台北市內湖區港墘路220號6樓<br>
        工作內容：</h3>
        <h4>1.負責公司網路、資安技術工作執行之管理及維護。 <br>
            2.管理與IT網路架構，確保相關服務的穩定運作。<br>
            3.伺服器及網路設備安裝、設定、管理及維護等。<br>
            4.處理用戶端的資訊軟硬體使用問題。<br>
            5.配合資訊安全管理要求，保障公司整體網路資訊系統的安全和正常運行。<br>
            6.其他主管交辦事項<br></h4>
        <h3>公司介紹：</h3>
        <h4>長年深耕台灣的頂尖專業資安服務公司<br>
            專業資安監控服務、資安檢測服務、資安治理服務以及多樣化資安解決方案。</h4>
      </session>

      <article id="worker" class="col-lg-4">
        <header><a class="text-reset text-decoration-none bg-white">職務介紹</header> 
        <h3>系統維護／操作人員、資訊設備管制人員、MIS／網管主管<br></h3>
      </article>
      
      <aside id="need" class="col-lg-4">
        <header><a class="text-reset text-decoration-none bg-white">
        工作條件需求</a></header>
        <h3>工作經歷：</h3><h4>不拘</h4>
        <h3>學歷要求：</h3><h4>專科、大學</h4>
        <h3>科系要求：</h3><h4>資訊工程相關、資訊管理相關
</h4>
        <h3>語文條件：</h3><h4>不拘</h4>
        <h3>擅長工具：</h3><h4>Windows Server 2012、Windows Server 2019、Vmware、Cisco、DHCP、DNS、LAN、VPN</h4>
        <h3>具備證照：</h3><h4>CCNA</h4>
      </aside>
    </div><br><br>
    
    <footer>
      Copyright © 黃鈺慈. All Rights Reserved.
    </footer>
    
  </main>
</body>
</html>